.home{
	width: 20%;
	height: 50px;
	margin: 0;
	border: 0;
	padding: 0;
}

.CENTRALIZA {
	text-align: center;
	margin: 5px 0px 10px 0px;
}

html,body,h1,ul{
	margin: 0;
	padding: 0;
}

ul{
    list-style-type: none;
}

.colunas{
	-webkit-column-count: 3;
	text-align: center;
	width: 100%;
	margin: 0px 0px 0px 50px;
}
.colunas2{
	-webkit-column-count: 2;
	text-align: center;
}

.foto {
	margin-top:25px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;

}

img {
    border-radius: 50%;
    margin: auto;
}

header{
	height: 50px;
	background-color: #4CAF50;
}

nav{
	width: 70%;
	margin: auto;
}

.active {
    background-color: #4CAF50;
}

.centerandcolor {
    margin: auto;
    text-align: center;
    width: 30%;
	background-color: #4CAF50;
	width: 600px;
	padding: 25px;
	font-size: 18px;
}

.centertext{
	margin:auto;
	text-align: center;
}

h1,h2 {
    text-transform: uppercase;
    color: #4CAF50;
}

li{
	text-align: right;
	display: inline;
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

.borda {
    width: 300px;
    padding: 15px;
    border: 5px solid gray;
    margin: 0;
}

a{
	text-decoration: none;
}
