body{
	background-color: #f2f2f2;
	color: black;
	font-family: Arial, Tahoma, Geneva, sans-serif;
}

section, nav, footer{
	width: 80%;
	margin: 0 auto;
	height: auto;
}

.section{
	margin-top: 2%;
	background-color: white;
	padding: 10px;
	text-align: center;
	box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.footer{
	float: left;
	width: 98%;
	margin-bottom: 2%;
	margin-top: 2%;
	background-color: #333;
	padding: 10px;
	text-align: center;
	color: #4CAF50;
}
.section-1{
	float: left;
	width: 47%;
}

.section-2{
	float: right;
	width: 47%;
}

.title{
	text-align: center;
	color: #4CAF50;
}

.perfil{
	border-radius: 50%;
	border: 3px solid #4CAF50;
}

.images{
	border: 3px solid #4CAF50;
	height: 200px;
}

hr{
	border: 1px dotted black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #367c39;
}

