div.polaroid {
  width: 16%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 30px 30px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 0px;
}

div.container {
  text-align: left;
  padding: 10px 20px;
}

.coluna {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    column-gap: 40px;
    -webkit-column-width: 100px; /* Chrome, Safari, Opera */
}

.coluna2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -webkit-column-width: 100px; /* Chrome, Safari, Opera */
}

.pai {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
}

.pai2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: lightgrey;
    width: 550px;
    border: 10px solid green;
    padding: 25px;
    margin: 25px;
}

.pai3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: lightgrey;
    width: 550px;
    border: 10px solid green;
    padding: 25px;
    margin: 25px;
}

.pai4 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.pai5 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: lightgrey;
    width: 550px;
    border: 10px solid green;
    padding: 25px;
    margin: 25px;
}

.pai6 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.center {
    text-align: center;
    margin: auto;
    width: 600px;
    padding: 10px;
}

h1 {color:#4CAF50};
p {font-size:300%;}



   